<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.licenta.mydocuments">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/documents_render"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/documents_render_round"
        android:supportsRtl="true"
        android:theme="@style/custom">
        <activity android:name=".LoginActivity"
            android:theme="@style/custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".MyBillsActivity"/>
        <activity android:name=".MyCertificatesActivity"/>
        <activity android:name=".MyWalletActivity"/>
    </application>

</manifest>