<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.licenta.mydocuments"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/documents_render"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/documents_render_round"
        android:supportsRtl="true"
        android:theme="@style/custom"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="me.licenta.mydocuments.LoginActivity"
            android:theme="@style/custom" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.licenta.mydocuments.RegisterActivity" />
        <activity android:name="me.licenta.mydocuments.MainActivity" />
        <activity android:name="me.licenta.mydocuments.MyBillsActivity" />
        <activity android:name="me.licenta.mydocuments.MyCertificatesActivity" />
        <activity android:name="me.licenta.mydocuments.MyWalletActivity" />
        <activity android:name="me.licenta.mydocuments.UploadABillActivity" />
        <activity android:name="me.licenta.mydocuments.ViewMyBillsActivity" />
        <activity android:name="me.licenta.mydocuments.ShowMeStatisticsActivity" />
        <activity android:name="me.licenta.mydocuments.DocumentsFromMyCarActivity" />
        <activity android:name="me.licenta.mydocuments.MyDiplomasActivity" />
        <activity android:name="me.licenta.mydocuments.MyWarrantiesActivity" />
        <activity android:name="me.licenta.mydocuments.MyContractsActivity" />
        <activity android:name="me.licenta.mydocuments.OtherCertificatesActivity" />
        <activity android:name="me.licenta.mydocuments.MyIdentityCardActivity" />
        <activity android:name="me.licenta.mydocuments.MyPassportActivity" />
        <activity android:name="me.licenta.mydocuments.MyDriversLicenseActivity" />
        <activity android:name="me.licenta.mydocuments.MyTicketsActivity" />
        <activity android:name="me.licenta.mydocuments.MyBadgesActivity" />
        <activity android:name="me.licenta.mydocuments.MyHealthCardActivity" />
        <activity android:name="me.licenta.mydocuments.View_DocumentsFromMyCar" />
        <activity android:name="me.licenta.mydocuments.DisplayClickedImage" />
        <activity android:name="me.licenta.mydocuments.View_MyDiplomas" />
        <activity android:name="me.licenta.mydocuments.View_MyWarranties" />
        <activity android:name="me.licenta.mydocuments.View_MyContracts" />
        <activity android:name="me.licenta.mydocuments.View_OtherCertificates" />
        <activity android:name="me.licenta.mydocuments.View_MyIdentityCard" />
        <activity android:name="me.licenta.mydocuments.View_MyPassport" />
        <activity android:name="me.licenta.mydocuments.View_MyDriversLicense" />
        <activity android:name="me.licenta.mydocuments.View_MyTickets" />
        <activity android:name="me.licenta.mydocuments.View_MyBadges" />
        <activity android:name="me.licenta.mydocuments.View_MyHealthCard" />
        <activity
            android:name="com.scanlibrary.ScanActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.scanlibrary.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>